*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
   
    
}
.container1{
    border:2px solid black;
    width:90%;
    max-width: 1200px;
    margin: auto;



}
.container1a {
border: 2px solid green;
display: flex;
justify-content: space-between;
}
@media (max-width:768px){
    .container1a{
        flex-direction: column;
        align-items: center;
    }
}
.container1a aside{
    border: 2px solid firebrick;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    

}
aside h1{
    border: 2px solid rgb(211, 17, 17);
    padding:20px 20px;
    margin-bottom:10px;
    
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: xx-large;

}
aside p{
    margin-top:10px;
    border: 2px solid rgb(5, 204, 240);
    padding:20px 20px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.container2{
    border: 2px solid violet;
    width:90%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 254);
}
.container2a{
    border:2px solid rgb(0, 0, 175);
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   
}
.container2a #heading{
    border: 2px dashed green;
    text-align: center;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: xx-large;
    padding:20px 20px;
    margin-bottom:10px;


    
}

.container2a1{
    border:2px solid rgb(238, 255, 0);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.container2a h4{
    border:2px dashed rgb(245, 245, 245);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.container2a1 h1{
    border: 2px solid rgb(247, 4, 255);
}
.container2a1 #describe1{
    border: 2px dashed blue;
    padding: 50px 20px;
}
 .container2a h4{
        width: 100%;
        padding-top:20px ;
    }
@media (max-width:786px){
    .container2a1, .container3a{
        flex-direction: column;
        align-items: center;
    }
    .container2a h4{
        width: 100%;
        padding-top:20px ;
    }
}
#img2{
    border:2px solid chartreuse;
    
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.foothead{
    margin-bottom:10px;
}
#describe2 h4{
    border-top:2px solid black;
    
}
.container3{
    border:2px solid black;
    padding:10px;
    width:90%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 254);
}
.container3a{
    border:2px dashed blue;
    padding:20px 20px; 
    display: flex;
    justify-content: space-around;
}
.container3a1{
    border: 2px solid saddlebrown;
    margin:10px;
}
#heading2{
    border: 2px solid green;
    text-align: center;
    
}
h1{
    border:2px solid firebrick;
}
p{
    border:2px solid cadetblue;
}
#box1,#box3 {
    border:2px solid black;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin:20px;
}
.boxes{
    border:2px solid silver;
    height:140px;
    background-color: rgb(255, 243, 243);
}

#box2{
    border:2px solid black;
    height: auto;
    margin:20px;
}
.boximages{
    border: 2px solid rgb(236, 0, 0);
    margin:5px;
}
.boxheading h4{
    font-size: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 2px;
}
.boxheading p{
    font-size: medium;
}
#box4{
    margin:20px;
    border:2px solid firebrick;
}


